@media (min-width: 768px) {
  .nav {
    position: relative;
    flex-direction: row;
    height: 100%;
    right: 0;
    margin: 0.5em;

    &__logoBox {
      position: relative;
      display: flex;
      padding: 0 0.8em;
      margin: 0.5em;

      &-text {
        font-size: 2.7rem;
      }
    }

    &__menu-element {
      margin: 0.5em 0.2em;
      padding: 0.2em;
      font-size: 2rem;

      &::after {
        top: 90%;
      }

      &::before {
        top: 90%;
        left: 2.25em;
        right: auto;
      }
    }
  }

  .navMobile__button {
    display: none;

    &__close {
      display: none;
    }
  }

  .header {
    grid-template-columns: 60% 40%;
    grid-template-rows: 1fr 1fr 1fr;

    &__text {
      grid-column: 1/2;
      grid-row: 1/2;
      margin: 0 0.5em 0 0.5em;
      font-size: 3rem;
      align-self: center;
    }

    &__boxes {
      grid-column: 1/2;
      grid-row: 2/4;
      width: 100%;
      z-index: 2;
    }

    &__signboard {
      grid-column: 2/3;
      grid-row: 1/3;
      margin: 0;
      align-self: end;
    }

    &__btn {
      grid-column: 2/3;
      grid-row: 3/4;
      margin: 0 auto;
      align-self: center;
    }
  }

  .aboutme {
    grid-template-columns: 65% 35%;
    grid-template-rows: auto 200px 200px;
    gap: 1em;
    margin: 0 2em 0 1em;

    &-textBox {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 0;

      &__text {
        font-size: 2.3rem;

        &:nth-child(1) {
          font-size: 2.5rem;
        }
      }
    }
  }

  .contact {
    &__boxes {
      flex-direction: row;
      justify-content: space-around;
      align-items: start;
      width: 100%;
      max-width: 1200px;
    }

    &__signboard {
      display: flex;
      position: relative;
      display: flex;
      flex-direction: column;
      margin: 3em auto 0 auto;
      text-align: center;

      &-title {
        font-family: "KoHo", sans-serif;
        letter-spacing: 0.05em;
        margin: 0.2em 0;
        font-size: 4.2rem;
        color: $text-color;
      }

      &-subtitle {
        font-weight: 400;
        font-size: 2.2rem;
        color: $light-green-color;
      }

      &-logo {
        width: 100px;
        height: auto;
        margin: auto;
      }
    }

    &-box {
      &:first-child {
        margin-top: 5em;
      }
      &__text {
        font-size: 2.5rem;

        &::after {
          font-size: 3.5rem;
        }
      }
    }

    &__nameForm {
      margin-top: 1em;
      font-size: 2.7rem;
    }

    &-form {
      font-size: 2.4rem;

      &__label {
        width: 300px;
      }

      &__input {
        width: 300px;
        font-size: 1.8rem;
      }
      &__message {
        width: 300px;
        height: 90px;
        min-height: 90px;
        font-size: 1.8rem;
      }

      &__alert {
        width: 300px;
        font-size: 1.5rem;

        &::after {
          top: -40px;
          font-size: 2.5rem;
        }

        &:last-of-type::after {
          top: -92px;
        }
      }
    }
  }
}
