@use "_colors.scss" as *;

@mixin line {
  position: relative;

  &::after {
    position: absolute;
    top: 100%;
    left: 0;
    width: 130px;
    max-width: 0;
    height: 7px;
    background-color: $main-color;
    content: "";
  }

  &::before {
    position: absolute;
    top: 100%;
    left: 125px;
    width: 12px;
    height: 12px;
    transform: rotate(-60deg);
    background-color: $bg-color;
    z-index: 1;
    content: "";
  }
}

@mixin triangle {
  position: absolute;
  bottom: 0;
  right: -60px;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 60px 276px 60px;
  border-color: transparent transparent $bg-color transparent;
}
