@media (min-width: 576px) {
  .header {
    &__text {
      font-size: 3rem;
    }

    &__boxes {
      width: 90%;
    }

    &__box {
      &__gears {
        width: 65px;
        height: 60px;
      }

      &-icon {
        font-size: 4rem;
      }

      &-text {
        font-size: 2rem;
        margin-top: 0.7em;
      }
    }
  }

  .triangle__1 {
    border-width: 0 0 304px 60px;
    right: 0;
  }

  .section_title {
    font-size: 2.8rem;
  }

  .aboutme {
    grid-template-columns: 60% 40%;
    grid-template-rows: auto 1fr 1fr;
    gap: 0.5em;

    &-textBox {
      grid-column: 1/2;
      grid-row: 2/4;
      margin: 0;
    }

    &-imgBox {
      grid-column: 2/3;
      grid-row: 2/3;
      width: 100%;
      height: 100%;
      margin: 0;
    }

    &-infoBox {
      grid-column: 2/3;
      grid-row: 3/4;
      width: 100%;
      height: 100%;
      margin: 0;
      padding-right: 1.8em;
    }
  }

  .triangle-box {
    &__mini {
      display: none;
    }

    &__big {
      display: block;
    }
  }

  .triangle-box2 {
    &__mini {
      display: none;
    }
    &__big {
      display: block;
    }
  }

  .review--right {
    display: flex;
  }

  .review--left {
    display: flex;
  }

  .contact {
    &-box {
      &__text {
        font-size: 2.2rem;

        &::after {
          font-size: 3.2rem;
        }
      }
    }

    &-info {
      width: 500px;

      &__text {
        font-size: 2rem;
      }
    }
  }
}
